html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center; 
    background-image: linear-gradient(green, orange);
    align-items: center;
}
div {
 
    font-size: 100px;
    color: darkkhaki;
    width: 200px;
    height: 200px;
}